.traffic_light{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

}
#round_shape{
    width: 250px;
    height: 250px;
    border: 1px solid #000;
    border-radius: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}